<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="main.css">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="icon" type="image/png"  href="/images/favicon/favicon_64.png" sizes="64x64">

    <meta name="keywords" 
        content="" >
    <meta name="description"
        content="">
</head>

<body>
    <div class="container">
        <section class="section">
            {% block content %} {% endblock %}
        </section>

    </div>

    <div class="container license">
        <p id="license_text">2025</p>
    </div>
</body>

</html>